.cms-admin-modal #content {
    margin: 20px 20px 0 !important;
}

.cms-admin form input {
    color: #333;
    font-size: 12px;
    line-height: 12px;
    padding: 10px !important;
    border: 1px solid #ddd !important;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}

.cms-admin form label {
    display: block;
    float: none !important;
    color: #666 !important;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: normal !important;
    word-wrap: break-word;
    width: auto !important;
    margin-bottom: 5px;
}

.cms-admin form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    height: auto !important;
    min-width: 160px;
    padding: 10px;
    background: #fff url("../img/icon_arrow_down.png") no-repeat right center !important;
    background-size: 25px !important;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/*.cms-admin .form-horizontal {*/
/*background-color: #fff;*/
/*}*/

.cms-admin .module {
    border: none;
    margin-bottom: 0;
    background: none !important;
}

.cms-admin #page_form_lang_tabs input.selected, .cms-admin #page_form_lang_tabs input.current,
.cms-admin .parler-language-tabs span.selected, .cms-admin .parler-language-tabs span.current {
    color: #0bf !important;
    background: transparent !important;
    border-bottom: solid 3px #0bf !important;
}

.cms-admin #page_form_lang_tabs input, .cms-admin .parler-language-tabs span {
    color: #333 !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 14px !important;
    margin: 0;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.cms-admin input[type="email"], .cms-admin form input[type="password"], .cms-admin form input[type="number"], .cms-admin form input[type="url"],
.cms-admin form select, .cms-admin form textarea {
    font-size: 12px;
    width: 100% !important;
    max-width: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cms-admin form input[type="checkbox"], .cms-admin form input[type="radio"] {
    position: relative;
    top: -1px;
    overflow: hidden;
    vertical-align: bottom;
    line-height: 1.231;
    height: 13px;
    width: 13px !important;
    margin-right: 10px;
    padding: 0 !important;
    border: 0 !important;
}

.cms-admin .aligned .vCheckboxLabel {
    float: none !important;
    display: inline;
    padding-left: 4px;
}