{% load i18n cms_tags %}

<div class="submit-row clearfix" {% if is_popup %}style="overflow: auto;"{% endif %}>
    {% if show_save %}
        <button type="submit" class="btn btn-lg btn-primary" name="_save">{% trans 'Save' %}</button>
    {% endif %}
    <p class="deletelink-box">
        {% if show_delete_link %}<a href="delete/" class="deletelink">{% trans "Delete" %}</a>{% endif %}
    </p>

    {% if show_save_as_new %}
        <button type="submit" name="_saveasnew" class="btn">{% trans 'Save as new' %}</button>
    {%endif%}
    {% if show_save_and_add_another %}
        <button type="submit" name="_addanother" class="btn">{% trans 'Save and add another' %}</button>
    {% endif %}
    {% if show_save_and_continue %}
        <button type="submit" name="_continue" class=" btn btn-high">{% trans 'Save and continue editing' %}</button>
    {% endif %}
</div>

{% if show_buttons %}
<div class="submut-row clearfix" {% if is_popup %}style="overflow: auto;"{% endif %}>
    <a href="{% cms_admin_url 'cms_page_change' object_id %}?language={{ language }}" class="btn btn-lg {% if basic_info_active %}btn-info{% else %}btn-default{% endif %}">{% trans "Basic Settings" %}</a>
    <a href="{% cms_admin_url 'cms_page_advanced' object_id %}?language={{ language }}" class="btn btn-lg {% if advanced_settings_active %}btn-info{% else %}btn-default{% endif %}">{% trans "Advanced Settings" %}</a>
</div>
{% endif %}
